<h4>手順新規作成</h4>
  <%= form_with model: @procedure, local:true, url: procedures_path, method: :post do |f| %>

<p>手順タイトル</p>
  <%= f.text_field :title %>

<p>物品配置画像</p>
  <%= f.file_field :image, placeholder: "物品配置画像", accept:"image/*" %>

<p>必要物品</p>
  <%= f.text_area :item %>

<p>手順内容</p>
 <%= f.text_area :procedure %>

<div><%= f.submit '手順作成' %></div>

<% end %>