<%= form_with model: @procedure, procedures_path, method: :post do |f| %>
  <p>
    <%= f.label :title, '手順タイトル' %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :image, '物品配置画像' %>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :necessity_item, '必要物品' %>
    <%= f.text_area :necessity_item %>
  </p>

  <p>
    <%= f.label :procedure, '手順'%>
    <%= f.text_area :procedure %>
  </p>

  <p>
    <%#= f.label :category, 'カテゴリ' %>
    <%#= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
      <%#= category.label do %>
        <%#= category.check_box %>
        <%#= category.text %>
      <%# end %>
    <%# end %>
  </p>

  <%= f.submit '手順登録する' %>
<% end %>