<h4>手順新規登録</h4>
<%#= form_with model: [@procedure, @change] do |f| %>
  <%#= f.text_area :change, rows:'5', placeholder: "変更。追加点をここに" %>
  <%#= f.submit "送信する" %>
<%# end %>
    <%= form_with model: @procedure, local: true, url: admin_procedures_path, method: :post do |f| %>
        <div class="form_input">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form_input">
            <%= f.label :image %>
            <%= f.file_field :image, class: "form-control" %>
        </div>
        <div class="form_input">
            <%= f.label :necessity_item %>
            <%= f.text_area :necessity_item, class: "form-control" %>
        </div>
        <div class="form_input">
            <%= f.label :procedure %>
            <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form_input">
            <%= f.label :category_id %>
            <%= f.collection_select :category_id, Category.all, :id, :name,
                                                            :include_blank => "カテゴリを選択してください" %>
        </div>
        <div class="form_action row">
            <%= f.submit "作成する" %>
        </div>
    <% end %>
</div>