<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/a17d38e09f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <span>Nursing procedures</span>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <% if user_signed_in? %>
                    <li class="nav-item">
                      <%= link_to "カテゴリー一覧", categories_path %></li>
                    <li class="nav-item">
                      <%= link_to 'ブックマーク一覧', categories_path, method: :show %></li>
                    <li class="nav-item">
                      <%= link_to '手順作成', new_procedure_path %></li>
                    <li class="nav-item">
                      <%= link_to 'マイページ', my_page_path %></li>
                    <li class="nav-item">
                      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                  <% elsif admin_signed_in? %>
                    <li class="nav-item">
                      <%= link_to 'カテゴリー一覧',  admin_categories_path %></li>
                    <li class="nav-item">
                      <%= link_to '利用者一覧', admin_users_path %></li>
                    <li class="nav-item">
                      <%= link_to '手順作成', new_admin_procedure_path %></li>
                    <li class="nav-item">
                      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to 'カテゴリー一覧', admin_categories_path %></li>
                    <li class="nav-item">
                      <%= link_to '新規作成', new_user_registration_path %></li>
                    <li class="nav-item">
                      <%= link_to 'ログイン', admin_session_path %></li>
                  <% end %>
                </ul>
              </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
